<nav class="navbar">
    <ul class="nav-links">
        <li class="branding">YelpCamp</li>
        <li><a href="/">Home</a></li>
        <li><a href="/campgrounds">Campgrounds</a></li>
        <li><a href="/campgrounds/new">Add Campgrounds</a></li>
    </ul>
    <ul class="user-links">
        <% if(!currentUser) {%>
       <li class="login"><a href='/login'>Login</a></li> 
       <li class="reg"><a href='/register'>Register</a></li>
       <% } else if(currentUser){ %>
       <li class="logout"><a href='/logout'>Logout</a></li>
       <% } %> 
    </ul>
</nav>