<%layout('layouts/boilerplate.ejs')%>

<main class="err-main">
    <div class="err-div">
        <h3>Error, <%=status%></h3>
        <hr style="border-color: #fcc0c7;">
        <p><%=message%></p>
    </div>
</main>